<%- include('header')  %> 
<script>
    let event_data = <%- JSON.stringify(eventJdb) %>
</script>
    <div class="text-center"><h1>BONJOUR 
        <% if (typeof name !== 'undefined') {%>
            <%= name %>
        <% } console.log(name)%></h1></div> 
      <div class="content">
        <div class="calendar-container">
          <div class="calendar"> 
            <div class="year-header"> 
              <span class="left-button" id="prev"> &lang; </span> 
              <span class="year" id="label"></span> 
              <span class="right-button" id="next"> &rang; </span>
            </div> 
            <table class="months-table"> 
              <tbody>
                <tr class="months-row">
                  <td class="month">Jan</td> 
                  <td class="month">Feb</td> 
                  <td class="month">Mar</td> 
                  <td class="month">Apr</td> 
                  <td class="month">May</td> 
                  <td class="month">Jun</td> 
                  <td class="month">Jul</td>
                  <td class="month">Aug</td> 
                  <td class="month">Sep</td> 
                  <td class="month">Oct</td>          
                  <td class="month">Nov</td>
                  <td class="month">Dec</td>
                </tr>
              </tbody>
            </table> 
            
            <table class="days-table"> 
              <td class="day">Sun</td> 
              <td class="day">Mon</td> 
              <td class="day">Tue</td> 
              <td class="day">Wed</td> 
              <td class="day">Thu</td> 
              <td class="day">Fri</td> 
              <td class="day">Sat</td>
            </table> 
            <div class="frame"> 
              <table class="dates-table"> 
                  <tbody class="tbody">             
                  </tbody> 
              </table>
            </div>
            <div class="text-center">
                <button class="button" id="add-button">Nouveau journal de bord</button>
            </div>
          </div>
        </div>
        <div class="events-container">
        </div>
        <div class="dialog" id="dialog">
            <h2 class="dialog-header">Nouveau journal de bord</h2>
            <form class="form" id="form" action="/" method="POST">
              <div class="form-container" align="center">
                <label class="form-label" id="valueFromMyButton" for="name">Catégories</label>
                <select class="input custom-select" type="text" id="name" name="category" >
                    <% for(category of Categories){ %>
                    <option value="<%= category.name %>"><%= category.name %></option>
                    <% } %> 
                </select>
                <label class="form-label" id="valueFromMyButton" for="count">Description</label>

                <textarea name="content" class="form-control" style="width: 100%;" rows="4" cols="50">
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos eveniet doloremque mollitia dolorem nobis velit illo repudiandae autem! Consequuntur fugit aspernatur quisquam facilis delectus quis dolores ab magni officia facere?
                </textarea>
                <input type="hidden" id="DateJdb" name="DateJdb" value="date">

                <input type="button" value="Cancel" class="button" id="cancel-button">
                <input type="submit" value="Enregistrer" class="button" id="ok-button">
              </div>
            </form>
          </div>
      </div>
      <div><button id='JdbUpdate'>Modifier</button></div>
