<%- include('header') -%>
<div class="text-center offset-2 col-8">
  <h2><%= ActualCategory %> </h2>
</div>
<% if (Admin === 1) {%>
<div class="text-center mt-1"><button class="btn btn-success "onclick="HideShowForm()">Nouvel article</button>
</div>
  
  <form id="NewNews" class="form-group" action="/outils_pedagogiques/create/<%= Category %> " method="post">
    <div class="row mt-4 text-center">
      <label class="col-12 pt-1 pr-0" for="POST-name">Titre :</label>
      <input class="form-control offset-3 col-6" id="POST-name" type="text" name="name">
    </div>
    <div class="row mt-4 text-center">
      <label class="col-12 pt-1 pr-0" for="POST-content">Description :</label>
      <textarea  class="form-control offset-3 col-6 pr-0" id="exampleFormControlTextarea1" name="content"></textarea>
    </div>
    <div class="text-center mt-1">
      <input class="btn btn-primary" type="submit" value="Enregistrer">
    </div>
  </form>
  <% } %>
<div class="container">
  <div class="text-center row">
    <% for(news of News){ %>
      <div style="height: 22vw;" class="border rounded-circle mt-2 col-6 bg-white">
        <% if (Admin === 1) {%>
          <div class="mt-1"><button class="rounded-circle"><a href="/outils_pedagogiques/delete/<%= Category %>/<%= news.id %>">Supprimer</a></button>
          <button class="rounded-circle" onclick="UpdateNews('<%= news.id %>')">Modifier</button></div>
        <% } %>
        <div id="News<%= news.id %>">
            <h1 class="mt-4"> Titre : <%= news.title %></h1>
            ----------------------------------
            <h6 class="mt-2"> Date : <%= news.created_at.fromNow()%></h4>
              ----------------------------------
            <h4> Description : <%= news.content%></h3>
        </div>
        <div id="UpdateNews<%=news.id%>" style="display: none;">
          <form class="form-group" action="/outils_pedagogiques/update/<%= Category %>/<%= news.id %>" method="post" >
            <div class="row mt-2 text-center">
              <label class="col-12 pt-1 pr-0" for="POST-name"><h2>Titre</h2></label>
              <input value="<%= news.title %> " class="form-control offset-3 col-6" id="POST-name" type="text" name="name">
            </div>
            <div class="row mt-2 text-center">
              <label class="col-12 pt-1 pr-0" for="POST-content"><h2>Description</h2></label>
              <textarea  class="form-control offset-3 col-6 pr-0" id="exampleFormControlTextarea1" name="content"> <%= news.content %></textarea>
            </div>
            <div class="text-center mt-1">
              <input class="btn btn-primary" type="submit" value="Enregistrer">
            </div>
        </form>
        </div>
      </div>
    <% } %> 
  </div>
</div>


<%- include('footer') -%>
